.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }
  
  .bodyRegsiter {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }